{% extends "todoapp/index.html" %}
{% load widget_tweaks%}
{% block title %}Todo追加画面{{ block.super }}{% endblock %}

{% block content %}
    <form class="row g-3" method='POST'>{% csrf_token %}
    <div class="col-md-6">
        <label for="{{ form.title.id_for_label }}" class="form-label">title</label>
        {{ form.title|add_class:'form-control' }}
        <label for="{{form.detail.id_for_label}}" class="form-label" >Detail</label>
        {{ form.detail|add_class:'form-control'}}
    </div>
    <div class="col-5">
        <label for="{{form.deadline.id_for_label}}" class="form-label" >Deadline</label>
        {{form.deadline|add_class:'form-control'}}
    </div>
    <div class="col-md-5">
        <label for="{{form.priority.id_for_label}}" class="form-label">Priority</label>
        {{form.priority}}
        
    </div>
    <div class="col-md-4">
        <label for="{{form.category.id_for_label}}" class="form-label">Category</label>
        {{form.category}}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">+ Add</button>
    </div>
    </form>
{% endblock %}
{% comment %} 
{% block content %}
    <form class="row g-3" method='POST'>{% csrf_token %}
    <div class="col-md-6">
        <label for="title" class="form-label">Todo</label>
        <input type="text" class="form-control" id="title" placeholder="doing"> 
    </div>
    <div class="col-md-6">
        <label for="detail" class="form-label">Detail</label>
        <input type="text" class="form-control" id="detail" placeholder="memo">
    </div>
    <div class="col-5">
        <label for="deadline" class="form-label">Deadline</label>
        <input type="text" class="form-control" id="deadline" placeholder="2022-01-01">
    </div>
    <div class="col-md-5">
        <label for="priority" class="form-label">Priority</label>
        <select id="priority" class="form-select">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select">
        <option selected>Choose...</option>
        <option>work</option>
        <option>habit</option>
        <option>doing</option>
        <option>business</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">+ Add</button>
    </div>
    </form>
{% endblock %} {% endcomment %}
