{% extends "todoapp/index.html" %}
{% load widget_tweaks%}
{% block title %}Todo追加画面{{ block.super }}{% endblock %}
{% load static %}

{% block content %}
    <header>
        <a type="submit" class="ms-2 btn btn-primary" href="{% url 'TodoApp:todo_list' pk=pk %}">戻る</a>
    </header>
    
    {% block extrahead %}
    <head>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    </head>
    {% endblock %}

    <form class="row g-3 ms-3" method='POST'>{% csrf_token %}
    <div class="col-md-6">
        <label for="{{ form.title.id_for_label }}" class="form-label">title</label>
        {{ form.title|add_class:'form-control' }}
        <label for="{{form.detail.id_for_label}}" class="form-label" >Detail</label>
        {{ form.detail|add_class:'form-control'}}
    </div>
    <div class="col-md-6">
        <label for="{{form.deadline.id_for_label}}" class="form-label" >Deadline</label>
        {{form.deadline|add_class:'form-control'}}
    </div>
    <div class="col-md-6">
        <label for="{{form.list_name.id_for_label}}" class="form-label">Listname</label>
        {{form.list_name|add_class:'form-control'}}
        <label for="{{form.priority.id_for_label}}" class="form-label">Priority</label>
        {{form.priority|add_class:'form-control'}}
    
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">+ Add</button>
    </div>
    </form>
{% endblock %}