{% extends "todoapp/index.html" %}
{% load widget_tweaks%}
{% block title %}Todo追加画面{{ block.super }}{% endblock %}

{% block content %}
    <form class="row g-3 ms-3" method='POST'>{% csrf_token %}
    <div class="col-md-6 ">
        <label for="{{ form.title.id_for_label }}" class="form-label">title</label>
        {{ form.title|add_class:'form-control' }}
        <label for="{{form.detail.id_for_label}}" class="form-label" >Detail</label>
        {{ form.detail|add_class:'form-control'}}
    </div>
    <div class="col-5">
        <label for="{{form.deadline.id_for_label}}" class="form-label" >Deadline</label>
        {{form.deadline|add_class:'form-control'}}
    </div>
    <div class="col-md-5">
        <label for="{{form.priority.id_for_label}}" class="form-label">Priority</label>
        {{form.priority|add_class:'form-control'}}
        
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">+ Add</button>
    </div>
    </form>
{% endblock %}