{% extends 'todoapp/index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/todo_list.css" %}">
{% load widget_tweaks%}
{% block title %}Todo一覧画面 {{block.super}}{% endblock%}

{% block content %}
    <head>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    </head>
    <header class ="p-1">
        <div class="d-flex justify-content-left">

        {% comment %} Todo 追加 {% endcomment %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-whatever="@getbootstrap">+追加</button>
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">New Todo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="col-md-6 ">
                                <label for="{{ form.title.id_for_label }}" class="form-label">title</label>
                                {{ form.title|add_class:'form-control' }}
                                <label for="{{form.detail.id_for_label}}" class="form-label" >Detail</label>
                                {{ form.detail|add_class:'form-control'}}
                            </div>
                            <div class="col-5">
                                <label for="{{form.deadline.id_for_label}}" class="form-label" >Deadline</label>
                                {{form.deadline|add_class:'form-control'}}
                            </div>
                            <div class="col-md-5">
                                <label for="{{form.list_name.id_for_label}}" class="form-label">Listname</label>
                                {{form.list_name|add_class:'form-control'}}
                                <label for="{{form.priority.id_for_label}}" class="form-label">Priority</label>
                                {{form.priority|add_class:'form-control'}}
                            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">add+</button>
                </div>
                </form>
                </div>
            </div>
            </div>
            <script type="text/javascript" src="{% static 'js/create_todo.js' %}"></script>


            <div class="ms-3 dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    並べ替え
                </a>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="dropdown-item ms-1 btn btn-primary" href="{% url 'TodoApp:priority_sort'  pk=pk%}">優先度</a></li>
                    <li><a type="submit" class="dropdown-item ms-1 btn btn-primary" href="{% url 'TodoApp:deadline_sort' pk=pk%}">期限</a></li>
                </ul>
            </div>
            <form class="d-flex ms-2" method="GET" action="{% url 'TodoApp:search' %}"> 
                {% csrf_token%}
                <input class="form-control me-2" type="text" name="keyword" placeholder="CategorySearch" >
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>



    </header>
    <div class='mt-5'>
        {% if messages %}
            {% for message in messages %}
                <h3>{{message}}</h3>
            {% endfor%}
        {% endif %}

    <table class="table table-hover table-white ms-2">
        <thead>
            <tr>
                <th scope="col"  style="width: 15%">進捗</th>
                <th scope="col">タイトル</th>
                <th scope="col">期限</th>
                <th scope="col">優先度</th>
                <th scope="col"><img src="{% static "img/trash.png" %}" height="20" width="40"></th>
                
            </tr>
        </thead>
        <tbody>
    {% for todo in not_done_list %}
            <tr class="table-active" id="not_done">
                <td>   
                {% if todo.status == False%}
                <a href="{% url 'TodoApp:change_status' pk=pk id=todo.id status=todo.status %}">未完了</a>
                {% else%}
                    <a href="{% url 'TodoApp:change_status' pk=pk id=todo.id status=todo.status %}">完了</a>
                {% endif %}
                </td> 
                <td>
                <a href=" {% url 'TodoApp:update_todo' pk=pk id=todo.id %}">{{todo.title}} </a>
                </td>
                <td>
                {{todo.deadline}}  
                </td>
                <td>
                {{todo.priority}} 
                </td>
                <td>
                <a href="{% url 'TodoApp:delete_todo' pk=pk id=todo.id %}">
                <img src="{% static "img/trash.png" %}" height="20" width="40"></a>
                </td>
            </tr>
            {% endfor %}

<tr>
<td></td>
</tr>

        {% for todo in done_list %}
            <tr class="table-active" id = "done">
                <td>   
                {% if todo.status == False%}
                <a href="{% url 'TodoApp:change_status' pk=pk id=todo.id status=todo.status %}">未完了</a>
                {% else%}
                    <a href="{% url 'TodoApp:change_status' pk=pk id=todo.id status=todo.status %}">完了</a>
                {% endif %}
                </td> 
                <td>
                <a href=" {% url 'TodoApp:update_todo' pk=pk id=todo.id %}">{{todo.title}} </a>
                </td>
                <td>
                {{todo.deadline}}  
                </td>
                <td>
                {{todo.priority}} 
                </td>
                <td>
                <a href="{% url 'TodoApp:delete_todo' pk=pk id=todo.id %}">
                <img src="{% static "img/trash.png" %}" height="20" width="40"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="done" >
        </div>
    </div>
    
{% endblock %}
